@import 'tailwindcss';
@import 'fumadocs-ui/css/neutral.css';
@import 'fumadocs-ui/css/preset.css';

:root {
  --background: 9 9 9;
  --foreground: 250 250 250;
  --muted: 24 24 24;
  --muted-foreground: 163 163 163;
  --border: 38 38 38;
  --primary: 57 140 203;
}

.dark {
  --background: 9 9 9;
  --foreground: 250 250 250;
  --muted: 24 24 24;
  --muted-foreground: 163 163 163;
  --border: 38 38 38;
}
